@import url('https://fonts.googleapis.com/css?family=Courgette|Nunito:400,600|Quicksand:300,400&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

p {
  margin:0;
}

h1 {
  font-family: "Courgette", sans-serif;
  font-size: 48px;
  margin:60px 0 20px;

}

h2{
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
  background-color: #ccc;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style: circle;
  padding-left: 14px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

img {
  border: 1px solid #ddd;
}

nav {
  font-family: "Nunito" sans-serif;
  font-weight: 400;
  position: fixed;
  top:0;
  background-color: white;
  width: 960px;
  padding: 20px 0;
}

nav a {
  padding-right: 5px;
}

a {
  color: green;
}


a:visited {
  color: brown;
}


a:hover {
  color: hotpink;
}


a:active {
  color: rgb(0,96,128);
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-template-areas:
"internship profile"
"internship education"
"internship skills"
"awards awards";
}

article {
  margin-bottom: 15px;
}

#profile{
  grid-area: profile;
}

#ps{
  margin-top:8px;
}

#education{
  grid-area: education;
}

#internship{
  grid-area: internship;
}

#internship article{
  margin-bottom: 40px;
}

#awards{
  grid-area: awards;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
  "praddy praddy"
  "brochure social";
  grid-column-gap: 2px;
}

#awards h2{
  width: 960px;
}

#praddy {
  grid-area: praddy;
  margin-bottom: 10px;
}

#brochure{
  grid-area: brochure;
  margin-bottom: 30px;
}

#brochure img{
  width: 320px;
  height: 241.05px;
}
#social {
  grid-area: social;
  margin-bottom: 30px;
}

#social img{
  width: 640px;
}

#skills{
  grid-area:skills;
}

#skills ul{
  margin-bottom: 5px;
  padding:0px;
}

#skills li{
  margin-left: 13px;
}
